<form action="/todos/{{todo.id}}?_method=PUT" method="POST">
  <input type="checkbox" name="isComplete" value="completed" {{#if todo.isComplete}} checked {{/if}}>
  <input type="text" name="name" placeholder="Please input name here." value="{{todo.name}}">
  <button>Save</button>
  <a href="/todos">Back</a>
</form>